body{
    display: block;
    background-color: #f9f4ef;
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    justify-content: center;
    background-color: #c3f0ca;
    height: 50px;
    align-items: center;
    color: darkblue;
}

.navbar{
    font-size: 20px; 
}

.nav-content{
    margin: 10px;
}